<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <title>PharmaHome - Application de Gestion Médicale</title>
</head>

<body>
    <header>
        <div class="logo-container">
            <div class="logo">
                <img src="./Ph.png" alt="logo" width="130px" height="130px"></a>
            </div>
            <h1>PharmaHome</h1>
        </div>
    </header>

    <section class="hero">
        <h2>La meilleure solution pour gérer vos médicaments</h2>
        <p>Avec PharmaHome, gérez facilement vos médicaments, vos rappels et vos consultations médicales.</p>
        <div class="download-buttons">
            <a href="#" class="app-store-button">Télécharger sur l'App Store</a>
            <a href="#" class="google-play-button">Télécharger sur Google Play</a>
        </div>
    </section>

    <section id="features" class="features">
        <h2>Plus aucun doute sur votre suivi médical</h2>
        <ul>
            <li>Gestion des médicaments avec rappels personnalisés.</li>
            <li>Alertes de péremption automatique.</li>
            <li>Recherche de la notice des médicaments.</li>
            <li>Coordonnées du médecin traitant et prise de rendez-vous.</li>
        </ul>
    </section>

    <footer>
        <div class="contact" id="contact">
            <p>Des questions ? Contactez-nous à <a href="mailto:support@pharmahome.com">support@pharmahome.com</a></p>
        </div>
    </footer>
</body>

</html>